body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
  user-select: none;
}

canvas {
  display: block;
}

#instructions {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40vh;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}
